<h4>Loaded Chronicles</h4>

<div ng-show="isEmpty(chronicles)"><i>No Chronicles Chosen</i></div>

<table id="index-loaded-chronicles" class="table table-index">
  <tr ng-repeat="(id, chronicle) in chronicles">
    <td><input type="checkbox" checked="checked"></td>
    <td>{{chronicle.name}}</td>
    <td><a ng-click="$parent.removeChronicle(chronicle.id)"><i class="icon-remove"></i></a></td>
  </tr>
</table>

<h4>My Chronicles</h4>
<% if false %>
   <%= form_tag chronicles_path(format: :json), remote: true, id: "viewer-chronicles-search", class: "index-search" do %>
      <div class="input-add-on"><i class="icon-search"></i></div>
      <div class="input-field"><%= text_field_tag :search, params[:search], placeholder: "Search" %></div>
   <% end %>

   <%= form_tag "/", id: "viewer-chronicles-search" do %>
      <div class="input-add-on"><i class="icon-search"></i></div>
      <div class="input-field">
        <input data-ng-model="searchText" ng-change="searchTextChanged()" class="ng-valid ng-dirty">
      </div>
   <% end %>
<% end %>

<div id="viewer-chronicles-index">
  <%= render 'chronicles/index' %>
</div>
