<div id="timeline-pane" style="display:none;">
  <div class="timeline-container">
    <div id="timeline-line">

      <div class="indicator" style="left:50%"><i class="icon-chevron-up"></i></div>
      <div class="minor-lines"></div>
      <!--<div class="major-lines" ng-hide="isEmpty(timeline.major_units)">-->

      <!--<div ng-repeat="mu in timeline.major_units" style="{{getOffset(mu)}}">-->
      <!--<div class="major-line"></div>-->
      <!--{{ mu | date:'dd-MM-yyyy'}}-->
      <!--</div>-->

      <svg class="major-lines" ng-hide="isEmpty(timeline.major_units)">
        <line ng-repeat="line in timeline.major_units" svg-x1="{{getFrameCx(line[0])}}" y1="0" svg-x2="{{getFrameCx(line[0])}}" y2="10"></line>
        <text ng-repeat="line in timeline.major_units" svg-x="{{getFrameCx(line[0])}}" y="24">{{getLineLabel(line)}}</text>
      </svg>

      <!--</div>-->
    </div>
    <div class="timeline-overlay"></div>
    <div id="timeline-events">
      <svg class="event-group">
        <a class="event" ng-repeat="event in events" ng-click="selectEvent(event)">
          <circle svg-cx="{{getFrameCx(event.start_date)}}" svg-cy="{{getFrameCy(event.chronicle_id)}}" r="5" svg-fill="{{getFill(event.chronicle_id)}}" stroke="black" stroke-width="1"></circle>
        </a>
      </svg>
    </div>

  </div>

  <div id="timeline-framer">

    <svg class="event-group">
      <a class="event" ng-repeat="event in events">
        <!--<circle svg-cx="{{getAbsoluteCx(event.start_date)}}" cy="9" r="4" fill="rgb(198,198,198)" fill-opacity=".2"></circle>-->
        <circle svg-cx="{{getAbsoluteCx(event.start_date)}}" cy="9" r="4" svg-fill="{{getFill(event.chronicle_id)}}" fill-opacity=".2"></circle>
      </a>
    </svg>

    <div class="content"></div>
  </div>

</div>

<style type="text/css">

   .major-lines line {
      stroke: #c6c6c6;;
      stroke-width: 3;
   }

   .major-lines text {
      color: #c6c6c6;
      text-anchor: middle;
   }

</style>
