<div class="dashboard" ng-controller="HistoracleCtrl">
  <div id="map">

  </div>

  <div id="viewer-wrapper">
    <div id="viewer">
      <div id="viewer-header">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#events-pane" data-toggle="tab">Events</a></li>
          <li>               <a href="#areas-pane" data-toggle="tab">Areas</a></li>
          <li>               <a href="#settings-pane" data-toggle="tab">Settings</a></li>
        </ul>
      </div>

      <div id="viewer-content" class="tab-content" >
        <div id="events-pane" class="tab-pane active">
          <%= render 'events_pane' %>
        </div>
        <div id="areas-pane" class="tab-pane" >
          <%= render 'areas_pane' %>
        </div>
        <div id="settings-pane" class="tab-pane">
          <%= render 'settings_pane' %>
        </div>
      </div>

    </div>
  </div>

  <div id="timeline-wrapper">
    <div id="timeline">
      <%= render 'explorer/timeline' %>
    </div>
  </div>

</div>

<script type="text/javascript">
   $(function () {
      $('#events-view').carousel('pause');
   });
</script>

