
<%= simple_form_for(@library, url: '/library', method: :PUT, :html => {:class => 'form-horizontal'}) do |f| %>

    <%= f.input :name %>

    <div class="control-group">
      <div class="controls">
        <div class="actions">
          <%= f.submit class: "btn" %>
        </div>
      </div>
    </div>

<% end %>
