<div class="jumbotron masthead">
  <div class="container">

    <div align="center" class="both">
      <i class="icon-eye-open"></i>

    </div>

    <div align="center" class="both">
      <div class="block"></div>
    </div>

    <div align="center" class="both">
      <i class="icon-globe"></i>

    </div>

    <h1>Historacle</h1>

    <p>The history of the world made available at a glance.</p>

    <ul class="masthead-links">
      <li>
        Version 1.0
      </li>
    </ul>
  </div>
</div>

<style type="text/css">
   .block {
      margin-top:66px;
      background:url('/images/bg-wrapper.jpg');
      border-radius:120px;
      height:120px;
      width:120px;
   }

   .icon-globe {
      font-size: 142px;
      position: absolute;
      top: 44px;
      left: 59px;
   }

   .icon-eye-open {
      position: absolute;
      top: 0;
      left: 0;
      height: 50px;
      width: 50px;
      font-size: 240px;
   }

   .jumbotron {
      position: relative;
      padding: 10px 0;
      color: #3A3A3A;
      text-align: center;
      text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
   }

   .jumbotron h1 {
      margin-top: 220px;
      font-size: 70px;
      font-weight: bold;
      letter-spacing: -1px;
      line-height: 1;
   }

   .jumbotron p {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.25;
      margin-bottom: 30px;
   }

      /* Link styles (used on .masthead-links as well) */
   .jumbotron a {
      color: #fff;
      color: rgba(255, 255, 255, .5);
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
   }

   .masthead-links {
      list-style: none;
      margin: 0px;
   }

   .both {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      width: 241px;
      height: 240px;
   }


</style>