// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-map img {
  //position: absolute;
  //margin-left: 400px;
}

div[id$=event] select[id$="date_1i"] {
  width: 65px;
}

div[id$=event] select[id$="date_2i"] {
  float: left;
  width: 105px;
}

div[id$=event] select[id$="date_3i"] {
  float: left;
  width: 50px;
}

div[id$=event] select[id$="date_4i"] {
  width: 50px;
}

div[id$=event] select[id$="date_5i"] {
  width: 50px;
}

#feature-event img {
  max-height: 300px;
}

.event-view {
  color: white;
  padding: 15px 30px 15px 0;
  overflow-y: scroll;
  max-height: 660px;
}

.event-view img{
  max-height: 500px;
}

.sub-title a {
  padding: 0 10px;
}

.geocode-input {
  width: 167px !important;
}

.event-map {
  display: none;
  margin-top: 15px;
}
