$border_margin: 20px;
$right_margin: 380px;

#map {
  width:100%;
  height:100%;
}

.dashboard {
  position: absolute;
  top: 40px;
  right:0;
  left:0;
  bottom:0;
  background: #9eb0c1;
  min-height: 600px;
  min-width: 1250px;
}

.dashboard > div[id$=wrapper] > div {
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 10px -5px #000000;
  background-color: rgba(6, 6, 6, 0.70);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType = 0, StartColorStr = '#000000', EndColorStr = '#000000');
}

#timeline-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  right: $right_margin + $border_margin;
  margin: $border_margin;
  height: 120px;
}

#timeline {
  height: 100%;
  width: 100%;
}

#viewer-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 20px;
  width: $right_margin;
}

#viewer {
  height: 100%;
  width: 100%;
}

#historacle-viewer {
    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
    background: lightcyan;
}

.container-slim {
    padding: 0 20px;
}

svg {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#copy {
    position: absolute;
    left: 0;
    bottom: 4px;
    padding-left: 5px;
    font: 9px sans-serif;
    color: #fff;
    cursor: default;
}

#copy a {
    color: #fff;
}

.compass .back {
    fill: #eee;
    fill-opacity: .8;
}

.compass .fore {
    stroke: #999;
    stroke-width: 1.5px;
}

.compass rect.back.fore {
    fill: #999;
    fill-opacity: .3;
    stroke: #eee;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.compass .direction {
    fill: none;
}

.compass .chevron {
    fill: none;
    stroke: #999;
    stroke-width: 5px;
}

.compass .zoom .chevron {
    stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
    stroke: #fff;
}

.compass.active .active .direction {
    fill: #999;
}

.compass .fore, .compass .chevron {
    stroke: #666;
}

.layer path {
    fill: #ccc;
    fill-opacity: .65;
    stroke: #012;
    stroke-width: 0.5;
}

#copy, #copy a {
    color: #aaa;
}

#viewer-chronicles-search {
  margin: 0px;
}

#viewer-chronicles-search .input-prepend {
  width: 100%;
}

#viewer-chronicles-search .input-add-on {
  border-radius: 4px 0 0 4px;
  display: inline-block;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 white;
  background-color: #dddddd;
  border: 1px solid #ccc;
  float: left !important ;
  width: 30px !important ;
}

#viewer-chronicles-search .input-field {
  overflow: hidden !important ;
  margin: 0;
}

#viewer-chronicles-search input {
  padding-left: 5px;
  border-left: none;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 0 4px 4px 0;
}

.carousel-control-container {
  height: 60px;
}

.carousel-indicator-container {
  height: 40px;
}

.carousel-inner .item {
  height: 400px;
}

#viewer-content .tab-pane {
  height:100%;
}

#event-view-empty {
  padding: 0 5px 0 5px;
  position: absolute;
  top: 15px;
  left: 90px;
}

#events-view {
  height: 100%;
}
