
<table id="index-library-chronicles" class="table table-index ">
  <% @chronicles.each do |chronicle| %>
     <tr>
       <td><%= chronicle.name %></td>
       <td><%= link_to "Add", "", class: 'btn btn-mini pull-right', :'ng-click' => "getChronicle(\"#{chronicle_path(chronicle)}\")" %></td>
     </tr>
  <% end %>
</table>

