
<table id="index-library-chronicles" class="table table-index ">
  <% @chronicles.each do |chronicle| %>
     <tr>
       <td><%= chronicle.name %></td>
       <td style="width: 24px;"><%= link_to "", "", class: 'icon-plus-sign', :'ng-click' => "getChronicle(\"#{chronicle_path(chronicle)}\")" %></td>
     </tr>
  <% end %>
</table>

